@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');

/* defaults */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: darkslategray
}

body {
    font-family: 'Bona Nova', serif;
    font-weight: 300;
}

/* logo */
#logo {
    text-decoration: none;
    color: darkslategray;
}

/* navigation */

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 25px;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    Width: 100%;
    text-align: center;
    transition: 0.3s;
}

.nav-link {
    transition: 0.7s ease;

}

.nav-item a {
    text-decoration: none;
    color: darkslategray;
}

.nav-item .active {
    border-bottom: 1px solid darkslategray;
}

.nav-item a:hover {
    text-decoration: none;
    border-bottom: 1px solid darkslategray;

}

.nav-item {
    list-style-type: none;

}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: darkslategrey;
}

.nav-menu li a {
    font-size: x-large;
    margin: 10px;
}

.nav-section {
    margin-top: 50px;
}

.nav-menu.active {
    left: 0;
}

/* burger menu*/

.hamburger {
    display: block;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* hero section */

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
}


#cover-text {

    text-align: center;
    margin: 0 auto;
    width: 80%;
}




#cover-text h1 {
    font-size: x-large;
    font-weight: lighter;
    padding-top: 20px;
}


#cover-text h2 {
    font-size: medium;
    font-weight: lighter;
    padding-top: 20px;
}

.subsection-title {
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    padding: 20px 0;
    text-transform: uppercase;
}

.subsection-text {
    width: 90%;
    margin: 20px 20px 40px 20px;
    text-align: center;
}


.info-section {
    margin-bottom: 10px;
}

.subsection-title hr {
    width: 50%;
    margin: 0 auto;
}

.subsection-button {
    width: 100%;
    text-align: center;
    margin: 25px 0px;
}

.subsection-button a {
    background-color: darkslategray;
    margin: 0 auto;
    border-radius: 2%;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

.subsection-button a:hover {
    background-color: white;
    color: darkslategray;
    border: 2px solid darkslategray;
}

/* footer */

#social-header {
    width: 100%;
    text-align: center;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 1.5rem;
    margin: 2.5%;
    padding: 5px 5px;
    color: darkslategray;
}


#breath {
    background: url('../images/breath.jpg') no-repeat center center;
    background-size: cover;
    border-bottom: 1px solid darkslategray;
    height: 300px;
}

#body-scan {
    background: url('../images/bodyscan.jpg') no-repeat center center;
    background-size: cover;
    height: 300px;
    border-bottom: 1px solid darkslategray;
}

#release {
    background: url('../images/reset.jpg') no-repeat center center;
    background-size: cover;
    height: 350px;
    border-bottom: 1px solid darkslategray;
}

.info-inner {
    background-color: rgba(255, 255, 255, 0.8);
    height: inherit;
}

#self-guided {
    margin-top: 50px;
}

#about-us {
    width: 80%;
    margin: 20px auto;
    text-align: justify;
    padding: 10px;
}

#about-us h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

#self-guided h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

#club-photo-container {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin: 0 auto;
}

#center-about {
    width: 100%;
}

#club-photo {
    border: 1px solid darkslategrey;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background: url('../images/our-club.jpg') no-repeat center center;
    background-size: cover;
}

.subnavbtn {
    display: none;
}

#backtotop-text {
    display: none;
}

#back-to-top {
    position: fixed;
    left: 1%;
    bottom: 2%;
    width: fit-content;
    opacity: rgba(0, 0, 0, 0.5);
}

#back-to-top a:hover {
    background: rgba(255, 255, 255, 1);
    color: darkslategray;
}

#back-to-top a:hover i {
    color: darkslategray;
}

#back-to-top a {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    background-color: darkslategray;
    border: 1.5px solid darkslategray;
    border-radius: 5%;
}

#back-to-top a i {
    color: white;
}


/*self-guided page */

.self-guided {
    margin-top: 20px;
}

#pageheader {
    width: 100%;
}

.self-guided h1 {
    font-size: 1.2em;
    margin: 0 auto;
    padding: 10px;
    width: fit-content;
    border-bottom: 2px solid darkslategray;
    font-weight: 300;
}

.self-guided .subsection {
    min-height: 600px;
    margin: 10px 0;
    padding-top: 20px;
}

.guide {
    width: 95%;
    background-color: rgba(255, 255, 255, 0.75);
    margin: 0 auto;
}

.guide h2 {
    text-align: center;
    padding-top: 15px;
}

.quote{
    width:80%;
    margin: 0 auto;
    padding-top: 5px;
}

.quote{
    font-size: 0.85em;
}

.guide-content-container{
    width:80%;
    margin: 0 auto;
    font-size: 1em;
    padding-top: 20px;
    text-align: center;
}

#breath-guide{
    height: fit-content;
    background: url('../images/breath.jpg') no-repeat center center;
    background-size: cover;
    border-bottom: 1px solid darkslategray;
}
/* For medium screen sizes*/

@media screen and (min-width: 768px) {

    /* navigation */
    .hamburger {
        display: none;
    }

    .navbar {
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
    }

    .nav-menu {
        display: inline;
        align-items: unset;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        padding-top: 0px;
        position: relative;
        Width: 100%;
        transition: 0.3s;
        left: 0;
        top: 0;
        width: fit-content;
    }

    .nav-link {
        transition: 0.7s ease;

    }

    .nav-item a {
        text-decoration: none;
        color: darkslategray;
    }

    .nav-item a:hover {
        text-decoration: none;
        text-shadow: 0 0 1px darkslategray;
        color: rgba(53, 53, 53, 0.9)
    }

    .nav-item {
        list-style-type: none;
        width: fit-content;
        display: inline;
        float: left;
    }

    .nav-section {
        margin-top: 0px;
    }

    .nav-menu a {
        font-size: medium;
        margin: 10px;
        text-decoration: none;
        color: darkslategray;
    }

    .nav-menu li a {
        font-size: medium;
    }


    .nav-section:hover .subnav-content {
        display: block;

    }

    .subnav {
        float: left;
        overflow: hidden;
    }

    .subnav-content {
        display: none;
        background-color: rgba(255, 255, 255, 0.9);
        height: 200px;
        position: absolute;
        z-index: 2;
    }

    .subnavbtn {
        display: inline;
        width: fit-content;
    }

    #cover-text {
        position: absolute;
        right: 5%;
        top: 15%;
        width: fit-content;
        padding: 5%;
        background: rgba(255, 255, 255, 0.4);
    }

    /*about us */
    #about-us p {
        font-size: 1.1rem;
    }

    /* self guided section */

    #self-guided {
        height: 500px;
    }

    #self-guided>div {
        width: 33.33%;
        float: left;
        height: 400px;
        position: relative;
    }

    .subsection-button {
        position: absolute;
        bottom: 25px;

    }


    a:hover+.subnav-content {
        display: block;
    }

    .subnav-content:hover {
        display: block;
    }

    .subnav-content h6 {
        display: none;
    }

    .subnav-content li {
        width: 200px;
        display: block;
        margin: 20px 0;
    }

    .subnav-content li a {
        font-size: 16px;
    }

    #about-us {
        width: 50%;
        padding-top: 30px;
    }


    #backtotop-text {
        display: contents;
        color: white;
    }

    #backtotop-text:hover {
        color: darkslategray
    }

    /* self-guided page */

    .guide-content-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        height: 70%;
        margin-top: 50px;
    }

    .guide-content-container>div {
        width: 50%;
    }

    .guide-gallery {
    }

    .guide-text {
    }

    #breath .guide-text, #release .guide-text{
        border-right: 1px solid black;
    }

    #body-scan .guide-gallery{
        border-right: 1px solid black;
    }

    #body-scan .guide-content-container{
        flex-direction: row-reverse;
    }
}