@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');

/* defaults */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', serif;
    font-weight: 300;
    color: #565656;
    line-height: 1.5;
    border-color: #565656;
    text-align: center;
}

#main>section {
    margin: 50px auto;
}

h1,
h2,
h3 {
    border-bottom: 1px solid #565656;
    width: fit-content;
    margin: 0 auto;
    padding: 20px 20px;
    font-weight: lighter;
    line-height: 2em;
    letter-spacing: 0.1em;
}

p {
    font-size: 1.2em;
    line-height: 1.8em;
    margin: 40px auto;
}

ol li {
    font-size: 1.2em;
}

/* logo */

#logo {
    text-decoration: none;
    color: #565656;
}

/* navigation */

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    border-bottom: 1px solid black;
}

.nav-menu {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: rgba(239, 239, 239, 0.9);
    padding-top: 25px;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    Width: 100%;
    transition: 0.3s;
}

.nav-link {
    transition: 0.7s ease;

}

.nav-item a {
    text-decoration: none;
    color: #565656
}

.nav-item .active {
    border-bottom: 1px solid #565656;
}

.nav-item a:hover {
    text-decoration: none;
    border-bottom: 1px solid black;

}

.nav-item {
    list-style-type: none;
    font-size: 1.5em;
    padding: 1em 0;

}

.nav-menu.active {
    left: 0;
    margin-top: -70px;
    padding-top: 70px;
    height: 110%;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #565656;
}

.nav-menu li a {
    margin: 10px;

}

/* burger menu*/

.hamburger {
    display: block;
    margin: 0;
    z-index: 2;
}

/* hero section */

#hero {
    margin-top: 0 !important;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;
    background-size: cover;
}

#cover-text {
    width: 80%;
    padding-top: 25px;
    margin: 0 auto;
}

#cover-text * {
    border: none;
    letter-spacing: normal;
    padding: 5px;
}

#cover-text h2 {
    font-size: 1em;

}

.subsection-text {
    width: 90%;
    margin: 20px 20px 40px 20px;
}

/* Self Guided Metitation Section */

.self-guided h1 {
    border: none;
}

#self-guided h2,
#communal h2 {
    font-size: 1.2rem;
}

.info-section {
    margin-bottom: 10px;
    min-height: 300px;
    height: 450px;
}

.subsection-button {
    width: 100%;
    margin: 25px 0px;
}

.subsection-button a {
    background-color: #252525;
    margin: 0 auto;
    border-radius: 2%;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

.subsection-button a:hover {
    background-color: white;
    color: #565656;
    border: 2px solid #565656;
}



#breath {
    background: url('../images/breath.webp') no-repeat center center;
    background-size: cover;
    z-index: 2;


}

#body-scan {
    background: url('../images/bodyscan.webp') no-repeat center center;
    background-size: cover;
    z-index: 2;
}

#reset {
    background: url('../images/reset.webp') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

/* footer */

footer {
    margin-top: 50px;
}

#social-header {
    width: 100%;
    font-size: 1.2em;

}

.social-networks {
    font-size: 1.8em;

}

.social-networks>li {
    display: inline;
}

.social-networks i {
    margin: 2.5%;
    padding: 5px 5px;
    color: #FF3b3f;
}

.social-networks a {
    color: inherit;
}

#reset-guide {
    border-bottom: 1px solid blac#565656;
    background: url('../images/reset.webp') no-repeat center center;
    background-size: cover;
}


.info-inner {
    background-color: rgba(255, 255, 255, 0.9);
    height: 100%;
    width: 100%;
    padding-top: 25px;
}

#about-us {
    margin: 20px auto;
}

.about-us-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 10px
}

.left hr{
    width:110%;
    margin-left: -20%;
    height: 3px;
    background-color: #565656;
}

.right hr{
    width:200%;
    margin-right: -50%;
    height: 3px;
    background-color: #565656;
}
.about-us-grid>.about-title {
    grid-area: 1 / 1 / 2 / 2;
    width:100%;
    white-space: nowrap;
    margin: auto 0;
    padding: 0 10px;

}

.about-us-grid>div h2{
padding: 0 5px;
width: 100%;
padding-right: 20px;
font-size: 1.1em;
border-bottom: none;
}


.about-us-grid > .right{
    grid-area: 1 / 2 / 2 / 3;
    border-radius: 50%;
    width:100%;
    max-width: 200px;
}

.left img{
    float:right;
}

.about-image{
    width: 90%;
}

.about-image img{
    border-radius: 50%;
    width: 90%;
    max-width: 180px;
}
#about-us p{
    width: 80%;
}

.text-align-left{
    text-align: left;
}

.text-align-right{
    text-align: right;
}

/*
#about-us-container {}

#about-us {
    margin: 20px auto;
}

#about-us h2{
    width:50%;
    font-size: 1em;
}

#about-us img{
    width:50%;
    border-radius: 50%;
}

#about-us > div:not(#center-about){
    color: white;
    font-size: 1.5em;
    padding:20px 5px;
}

#about-us > div > *:nth-child(odd){
    color: #252525;
    text-align: left;
    margin: 0;
    width: 100%;
    float:left;
}

#about-us > div > *:nth-child(odd) *{
    float:left;
}

#about-us > div > *:nth-child(even){
    color: #252525;
    text-align: right;
    margin-right: 5%;
    float:right;
    width: 75%;
}


#club-photo-container {
    width: 200px !important;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin: 0 auto;
    margin-left:200px;
}

#center-about {
    width: 100%;
    height:900px;
    margin-left:200px;
}

#club-photo {
    border: 1px solid #565656;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background: url('../images/our-club.webp') no-repeat center center;
    background-size: cover;
} */

#backtotop-text {
    display: none;
}

#back-to-top {
    position: fixed;
    left: 1%;
    bottom: 2%;
    width: fit-content;
    background-color: rgba(30, 30, 30, .9);
    z-index: 3;
}

#back-to-top a:hover {
    color: #565656;
}


#back-to-top a:hover i,
#back-to-top a:hover {
    animation-name: topclicked;
    animation-duration: 1s;
}

@keyframes topclicked {
    0% {
        color: #565656;

    }

    100% {
        background-color: #565656;
        color: white;
    }
}

#back-to-top a {
    text-decoration: none;
    background-color: #565656;
    border: 1.5px solid #565656;
    border-radius: 5%;
    padding: 3px 5px;

}

#back-to-top a i {
    color: white;
}

/*self-guided page */

#self-guided {
    margin-top: 20px;
}

#pageheader {
    width: 100%;
}

.self-guided .subsection {
    min-height: 600px;
    padding: 10px 0;
}

/* testing */

.self-guided>* {
    margin: 20px 0;
}

.exercise {
    width: 80%;
    padding-bottom: 50px;
    text-align: left;
    margin: 20px auto;
    height: fit-content
}



.exercise li {
    margin: 15px 0;
}


.guide {
    width: 95%;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
}

.guide h3 {
    margin-bottom: 40px;
}

.quote {
    width: 80%;
    font-size: 0.85em;
    padding: 20px 0;
}

#breath-guide {
    height: fit-content;
    background: url('../images/breath.webp') no-repeat center center;
    background-size: cover;
    border-bottom: 1px solid #565656;
}


#body-scan-guide {
    border-bottom: 1px solid #565656;
    background: url('../images/bodyscan.webp') no-repeat center center;
    background-size: cover;
}

.guide-video {
    width: 80%;
    margin: 0 auto;
    grid-area: 1 / 2 / 2 / 3;
}


#body-scan-guide .guide-text {
    width: 80%;
    margin: 0 auto;
    grid-area: 1 / 2 / 2 / 3;
}

.guide-text img {
    border-radius: 20px;
}

iframe {
    width: 100%;
    height: 300px;
}


.guide-text {
    width: 80%;
    margin: 0 auto;
    grid-area: 1 / 1 / 2 / 2;
}

#body-scan-guide .guide-video {
    margin: 0 auto;
    grid-area: 1 / 1 / 2 / 2;
}

#communal h3 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
}

#communal-one {
    background: url('../images/salthill.webp') no-repeat center center;
    background-size: cover;
}

#communal-two {
    background: url('../images/forest.webp') no-repeat center center;
    background-size: cover;
}

#communal-desc {
    width: 90%;
}


#self-guided {}

.quote {
    margin: 0 auto;
}

#communal>div {
    color: rgba(255, 255, 255, 0.85)
}

#communal .info-inner {
    background-color: rgba(0, 0, 0, 0.5);
}

#communal .info-inner * {
    color: rgba(255, 255, 255, 0.85) !important;
}

#self-guided-nav {
    border: 2px solid #565656;
    border-radius: 10px;
    width: fit-content;
    margin: 0 auto;
    padding: 5px 5px;
}

#self-guided-nav li {
    display: inline;
    padding: 3px 5px;
    border-right: 1px solid #565656;
}

#self-guided-nav li a {
    text-decoration: none;
    color: #565656;
}

#self-guided-nav li:nth-child(3) {
    border-right: none;
}


/* form section */

/* styles initially taken from https://www.w3schools.com/HOWTO/howto_css_stacked_form.asp */


#form-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 10px;
    border: 1px solid #565656;
    background-color: #efefef
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #FF3b3f;
    color: #efefef;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
    background-color: #caebf2;
    color: #565656
}

/* For medium screen sizes*/

@media screen and (min-width: 768px) {

    p {
        font-size: 0.8em;
    }

    /* navigation */
    .hamburger {
        display: none;
    }

    .navbar {
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
    }

    .nav-menu {
        display: inline;
        align-items: unset;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        padding-top: 0px;
        position: relative;
        Width: 100%;
        transition: 0.3s;
        left: 0;
        top: 0;
        width: fit-content;
    }

    .nav-link {
        transition: 0.7s ease;

    }

    .nav-item a {
        text-decoration: none;
    }

    .nav-item a:hover {
        text-decoration: none;
        text-shadow: 0 0 1px #565656;
        color: #565656
    }

    .nav-item {
        list-style-type: none;
        width: fit-content;
        display: inline;
        float: left;
    }

    .nav-section {
        margin-top: 0px;
    }

    .nav-menu a {
        font-size: medium;
        margin: 10px;
        text-decoration: none;
    }

    .nav-menu li a {
        font-size: medium;
    }

    #cover-text {
        position: absolute;
        right: 5%;
        top: 20%;
        width: fit-content;
        padding: 4%;
        background: rgba(255, 255, 255, 0.4);
    }

    /*about us */

    #about-us-container {
        width: 100%;
    }

    /* self guided section */

    #self-guided h2,
    #communal h2 {
        font-size: 1.5rem;
    }

    #communal-desc {
        width: 50%;
    }

    .info-section {
        width: 33.33%;
        float: left;
        height: 400px;
        position: relative;
        border-bottom: 1px solid #565656;
    }

    .guide-text {
        width: 80%;
    }

    .subsection-button {
        position: absolute;
        bottom: 25px;

    }

    #about-us {
        width: 65%;
    }

    #backtotop-text {
        display: contents;
        color: white;
    }

    #backtotop-text:hover {
        color: #565656
    }

    #self-guided,
    #communal {
        height: 600px;
    }

    section>div>p {
        width: 50%;
    }

    /* self-guided page */

    .guide-content-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 50px;
    }

    #communal .info-section {
        width: 50%;
    }

    .guide-video {
        width: 100%;
        margin: 0 auto;
        height: 100%;
    }

    iframe {
        width: 75%;
        height: 300px;
    }

    .exercise {
        width: 50%;
        margin: 0 auto;
    }
}



/* Styling for large screens */

@media screen and (min-width: 1200px) {

    p {
        font-size: 1.2em;
    }

    /* self guided animations */
    #breath:hover h3 {
        animation-name: textbreath;
        animation-duration: 3s;
    }

    @keyframes textbreath {
        0% {}

        50% {
            letter-spacing: 0.7em;
        }

        100% {
            letter-spacing: 0.1em;
        }
    }

    #scanner {
        width: 100%;
        background-image: linear-gradient(to right, #1E5631, #76ba1b);
        height: 2px;
        position: absolute;
        display: none;
        border-radius: 5px;
    }

    #body-scan:hover #scanner {
        animation-name: scanner;
        animation-duration: 6s;
        display: block;
        z-index: 2;
        opacity: .5;

    }

    @keyframes scanner {
        0% {
            top: 0;
        }

        25% {
            background-image: linear-gradient(to right, #486523, #159a41);

        }

        50% {
            top: 100%;
            background-image: linear-gradient(to right, #76ba1b, #1E5631);
        }

        75% {
            background-image: linear-gradient(to right, #486523, #159a41);
        }

        100% {
            top: 0;
            background-image: linear-gradient(to right, #1E5631, #76ba1b);
        }
    }

    #reset:hover .subsection-title {
        animation-name: reset;
        animation-duration: 2s;
        overflow: hidden;
        white-space: nowrap;
    }

    @keyframes reset {
        0% {
            margin-left: calc(50% - 49px);
        }

        25% {
            margin-left: 700px;
        }

        49.9% {
            margin-left: 700px;

        }

        50% {
            margin-left: -1000px;
        }

        100% {
            margin-left: calc(50% - 70px);
        }

    }
}