@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');

/* defaults */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(94, 94, 94);
    line-height: 1.5;

}

body {
    font-family: 'Helvetica', serif;
    font-weight: 300;
}

div {
    margin: 0 auto;
}



.info-inner {
    padding-top: 25px;
}

#main>section {
    margin: 50px 0;
}

h1,
h2,
h3 {
    border-bottom: 1px solid rgb(94, 94, 94);
    width: fit-content;
    margin: 0 auto;
    padding: 0 20px;
    font-weight: lighter;
    line-height: 2em;
    letter-spacing: 0.2em;
    text-align: center;
}

p {
    font-size: 1.1em;
    margin: 40px auto;
}

/* logo */

#logo {
    text-decoration: none;
    color: rgb(94, 94, 94);
}

/* navigation */

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 25px;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    Width: 100%;
    text-align: center;
    transition: 0.3s;
}

.nav-link {
    transition: 0.7s ease;

}

.nav-item a {
    text-decoration: none;
}

.nav-item .active {
    border-bottom: 1px solid black;
}

.nav-item a:hover {
    text-decoration: none;
    border-bottom: 1px solid black;

}

.nav-item {
    list-style-type: none;

}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.nav-menu li a {
    margin: 10px;
}


.nav-menu.active {
    left: 0;
}

/* burger menu*/

.hamburger {
    display: block;
    margin: 0;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* hero section */

#hero {
    margin-top: 0 !important;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
}

#cover-text {
    text-align: center;
    width: 80%;
    padding-top: 25px;
}

#cover-text * {
    border: none;
    letter-spacing: normal;
    padding: 5px;
}

#cover-text h2 {
    font-size: 1em;

}


.subsection-title {
    text-align: center;
}

.subsection-text {
    width: 90%;
    margin: 20px 20px 40px 20px;
    text-align: center;
}

/* Self Guided Metitation Section */

.info-section {
    margin-bottom: 10px;
    min-height: 300px;
}

.subsection-title hr {
    width: 50%;
    margin: 0 auto;
}

.subsection-button {
    width: 100%;
    text-align: center;
    margin: 25px 0px;
}

.subsection-button a {
    background-color: black;
    margin: 0 auto;
    border-radius: 2%;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

.subsection-button a:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}



#breath {
    background: url('../images/breath.jpg') no-repeat center center;
    background-size: cover;
    border-bottom: 1px solid black;
    height: 300px;
    z-index: 2;


}

#body-scan {
    background: url('../images/bodyscan.jpg') no-repeat center center;
    background-size: cover;
    height: 300px;
    border-bottom: 1px solid black;
    z-index: 2;
}

#reset {
    background: url('../images/reset.jpg') no-repeat center center;
    background-size: cover;
    height: 300px;
    border-bottom: 1px solid black;
    overflow: hidden;
}

/* footer */

#social-header {
    width: 100%;
    text-align: center;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    margin: 2.5%;
    padding: 5px 5px;
}


#reset-guide {
    background: url('../images/reset.jpg') no-repeat center center;
    background-size: cover;
    border-bottom: 1px solid black;
}


.info-inner {
    background-color: rgba(255, 255, 255, 0.6);
    height: 300px;
    width: 100%;
    text-align: center;
}


#about-us {
    width: 80%;
    margin: 20px auto;
}

#club-photo-container {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

#center-about {
    width: 100%;
}

#club-photo {
    border: 1px solid black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background: url('../images/our-club.jpg') no-repeat center center;
    background-size: cover;
}

.subnavbtn {
    display: none;
}

#backtotop-text {
    display: none;
}

#back-to-top {
    position: fixed;
    left: 1%;
    bottom: 2%;
    width: fit-content;
    opacity: rgba(0, 0, 0, 0.6);
    z-index: 3;
}

#back-to-top a:hover {
    background: rgba(255, 255, 255, 1);

}

#back-to-top a:hover i {}

#back-to-top a {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    background-color: black;
    border: 1.5px solid black;
    border-radius: 5%;
}

#back-to-top a i {
    color: white;
}

/*self-guided page */

.self-guided {
    margin-top: 20px;
}

#pageheader {
    width: 100%;
}

.self-guided .subsection {
    min-height: 600px;
    margin: 10px 0;
}

.guide {
    width: 95%;
    background-color: rgba(255, 255, 255, 0.5);
}

.quote {
    width: 80%;
}

.quote {
    font-size: 0.85em;
}

.guide-content-container {
    font-size: 1em;
}

#breath-guide {
    height: fit-content;
    background: url('../images/breath.jpg') no-repeat center center;
    background-size: cover;
    border-bottom: 1px solid black;
}

.exercise {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.exercise li {
    line-height: 1.4em;
    margin-bottom: 10px;
}

#body-scan-guide {
    background: url('../images/bodyscan.jpg') no-repeat center center;
    background-size: cover;
    border-bottom: 1px solid black;
}

.guide-video-container {
    width: 100%;

}

.guide-video {
    width: 80%;
}

.guide-text {
    width: 80%;
}

#communal-one {
    background: url('../images/salthill.jpg') no-repeat center center;
    background-size: cover;
}

#communal-two {
    background: url('../images/forest.jpg') no-repeat center center;
    background-size: cover;
}

#communal-desc {
    width: 50%;
    text-align: center;
    margin-bottom: 20px;

}

.quote {
    margin: 0 auto;
}

#communal .info-inner {
    background-color: rgba(0, 0, 0, 0.5);
}

#communal .info-inner * {
    color: white !important;
}

/* For medium screen sizes*/

@media screen and (min-width: 768px) {

    /* navigation */
    .hamburger {
        display: none;
    }

    .navbar {
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
    }

    .nav-menu {
        display: inline;
        align-items: unset;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        padding-top: 0px;
        position: relative;
        Width: 100%;
        transition: 0.3s;
        left: 0;
        top: 0;
        width: fit-content;
    }

    .nav-link {
        transition: 0.7s ease;

    }

    .nav-item a {
        text-decoration: none;
    }

    .nav-item a:hover {
        text-decoration: none;
        text-shadow: 0 0 1px black;
        color: rgba(53, 53, 53, 0.9)
    }

    .nav-item {
        list-style-type: none;
        width: fit-content;
        display: inline;
        float: left;
    }

    .nav-section {
        margin-top: 0px;
    }

    .nav-menu a {
        font-size: medium;
        margin: 10px;
        text-decoration: none;
    }

    .nav-menu li a {
        font-size: medium;
    }

    .nav-section:hover .subnav-content {
        display: block;

    }

    .subnav {
        float: left;
        overflow: hidden;
    }

    .subnav-content {
        display: none;
        background-color: rgba(255, 255, 255, 0.9);
        height: 200px;
        position: absolute;
        z-index: 2;
    }

    .subnavbtn {
        display: inline;
        width: fit-content;
    }

    #cover-text {
        position: absolute;
        right: 5%;
        top: 20%;
        width: fit-content;
        padding: 4%;
        background: rgba(255, 255, 255, 0.4);
    }

    /*about us */

    #about-us-container {
        width: 100%;
    }

    #about-us {
        background-color: white;
    }

    /* self guided section */

    .info-section {
        width: 33.33%;
        float: left;
        height: 400px;
        position: relative;
    }

    .subsection-button {
        position: absolute;
        bottom: 25px;

    }

    a:hover+.subnav-content {
        display: block;
    }

    .subnav-content:hover {
        display: block;
    }

    .subnav-content h6 {
        display: none;
    }

    .subnav-content li {
        width: 200px;
        display: block;
        margin: 20px 0;
    }

    .subnav-content li a {
        font-size: 16px;
    }

    #about-us {
        width: 50%;
    }

    #backtotop-text {
        display: contents;
        color: white;
    }

    #backtotop-text:hover {
        color: black
    }

    /* self-guided page */

    .guide-content-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        height: 70%;
        margin-top: 50px;
    }

    .guide-content-container>div {
        width: 50%;
    }

    #breath-guide .guide-text,
    #reset-guide .guide-text {
        border-right: 1px solid black;
    }

    #body-scan-guide .guide-text {
        border-left: 1px solid black;
    }

    #body-scan-guide .guide-content-container {
        flex-direction: row-reverse;
    }

    #communal .info-section {
        width: 50%;
    }
}

/* Styling for large screens */

@media screen and (min-width: 1200px) {

    /* self guided animations */
    #breath:hover h3 {
        animation-name: textbreath;
        animation-duration: 3s;
    }

    @keyframes textbreath {
        0% {
            letter-spacing: normal;
        }

        50% {
            letter-spacing: 0.7em;
        }

        100% {
            letter-spacing: normal;
        }
    }

    #scanner {
        width: 100%;
        background-image: linear-gradient(to right, #1E5631, #76ba1b);
        height: 2px;
        position: absolute;
        display: none;
        border-radius: 5px;
    }

    #body-scan:hover #scanner {
        animation-name: scanner;
        animation-duration: 6s;
        display: block;
        z-index: 2;
        opacity: .5;

    }

    @keyframes scanner {
        0% {
            top: 0;
        }

        25% {
            background-image: linear-gradient(to right, #486523, #159a41);

        }

        50% {
            top: 100%;
            background-image: linear-gradient(to right, #76ba1b, #1E5631);
        }

        75% {
            background-image: linear-gradient(to right, #486523, #159a41);
        }

        100% {
            top: 0;
            background-image: linear-gradient(to right, #1E5631, #76ba1b);
        }
    }

    #reset:hover .subsection-title {
        animation-name: reset;
        animation-duration: 2s;
        overflow: hidden;
        white-space: no-wrap;
    }

    @keyframes reset {
        0% {
            margin-left: 0px;
        }

        25% {
            margin-left: 700px;
        }

        49.9% {
            margin-left: 700px;

        }

        50% {
            margin-left: -1000px;
        }

        100% {
            margin-left: 0px;
        }

    }
}