/* defaults */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* burger menu*/

.menu{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.menu-link{
transition: 0.7s ease;
}

.menu-link:hover{
    color: dodgerblue;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: 0.3s ease-in-out;
}